.detail {
    background-color: var(--black);
    width: 100%;
    min-height: 80vh;
    text-align: center;
}
.vehicle-card {
    height: 400px;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--darkblack);
    border: 2px solid #282828;
    box-shadow: 0px 0px 8px #000;
}
.detail-img {
    width: 50%;
    text-align: center;
}
.detail-img img {
    width: 50%;
    height: 300px;
    object-fit: cover;
    display: block;
    border: 1px solid #282828;
}

.box-detail {
    width: 50%;
}
.box-detail .row {
    text-align: center;
}
.price {
    text-align: center;
}
.box-detail h2 {
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    font-weight: 2rem;
}
.desc {
    display: flex;
    justify-content: center;
}
.box-detail p {
    color: white;
    width: 60%;
    line-height: 1.5;
    margin: 10px 0;
    opacity: 0.8;
}
.btn-row {
    width: 100%;
    height: fit-content;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.btn-buy {
    background: var(--red);
    padding: 10px 20px;
}
.btn-row a {
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
}

.btn {
    font-family: "Kanit", sans-serif;
    color: white;
    display: inline-block;
    background-color: var(--red);
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 1rem;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: var(--red);
    margin-bottom: 5rem;
}
.btn:hover {
    transform: translateY(-3px);
}
.btn:active {
    outline: none;
    transform: translateY(-5px);
}
