<footer>
    <h1 class="footer-text">Website Designed by Luigi Fernandez</h1>
    <div class="center">
        <div class="github-wrapper">
            <div class="github" href="">
                <a
                    href="https://github.com/ITSligo3rdYearWebProgramming/assignmentpart22021-s00188563"
                >
                    <fa-icon
                        [icon]="faGithubSquare"
                        size="5x"
                        [style]="{ color: 'white' }"
                    ></fa-icon>
                    <p class="subtitle">Front-End</p></a
                >
            </div>
            <div class="github">
                <a
                    href="https://github.com/ITSligo3rdYearWebProgramming/assignmentpart12021-s00188563"
                >
                    <fa-icon
                        [icon]="faGithubSquare"
                        size="5x"
                        [style]="{ color: 'white' }"
                    ></fa-icon>
                    <p class="subtitle">Back-End</p></a
                >
            </div>
        </div>
    </div>
</footer>
