<footer>
    <h1 class="footer-text">Website Designed by Luigi Fernandez</h1>
    <div class="center">
        <div class="github-wrapper">
            <div class="github">
                <fa-icon
                    [icon]="faGithubSquare"
                    size="5x"
                    [style]="{ color: 'white' }"
                ></fa-icon>
                <p class="subtitle">Front-End</p>
            </div>
            <div class="github">
                <fa-icon
                    [icon]="faGithubSquare"
                    size="5x"
                    [style]="{ color: 'white' }"
                ></fa-icon>
                <p class="subtitle">Back-End</p>
            </div>
        </div>
    </div>
</footer>
