<app-header></app-header>
<section class="vehicles">
    <h1 class="title">Vehicles</h1>
    <div class="filter_menu">
        <div class="select" (change)="handleCategory($event)">
            <span>Filters: </span>
            <select name="category">
                <option value="">All Products</option>
                <option value="Super">Supercars</option>
                <option value="motorcycle">Motorcycle</option>
                <option value="SUV">SUV</option>
            </select>
        </div>
        <input
            type="text"
            placeholder="Search Cars"
            (change)="handleSearch($event)"
        />
        <div class="select" (change)="handleSort($event)">
            <span>Sort By: </span>
            <select>
                <option value="">Newest</option>
                <option value="sort=-createdAt">Oldest</option>
                <option value="sort=-sold">Best sales</option>
                <option value="sort=-price">Price: High-Low</option>
                <option value="sort=price">Price: Low-High</option>
            </select>
        </div>
    </div>
    <div class="load-more">
        <button (click)="doFilter(term)">Search</button>
    </div>
    <div class="vehicles-container">
        <div *ngFor="let v of vehicleList" class="vehicle">
            <div class="vehicle-details">
                <h3>{{ v.title }}</h3>
                <img src="{{ v.image.url }}" alt="{{ v.image.public_id }}" />
                <h3>€{{ v.price }}</h3>
                <div class="btn-row">
                    <button class="btn-view" (click)="clicked(v)">
                        <a>View</a>
                    </button>
                    <button class="btn-buy"><a>Buy</a></button>
                </div>
            </div>
        </div>
    </div>
    <div class="load-more">
        <button (click)="loadMore()">Load more</button>
    </div>
</section>
<app-footer></app-footer>
