.partners {
    text-align: center;
    background-color: var(--grey);
}
.partner-wrapper {
    display: flex;
    justify-content: space-around;
    height: fit-content;
}
.partners .partner-wrapper .logo {
    width: 30%;
}
.partners .partner-wrapper .logo img {
    width: 100%;
    height: 90%;
}
