.home {
    height: 100vh;
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.75),
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.75)
        ),
        url(src/assets/images/model.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    border-top: 2px solid #282828;
    border-bottom: 2px solid #2c2e2e;
    box-shadow: 0px 0px 8px #000;
}
.top,
.btn {
    font-family: "Kanit", sans-serif;
    color: white;
}
.top {
    font-family: "Kanit", sans-serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1rem;
    padding-top: 7.5rem;
    font-weight: 600;
}
.btn {
    display: inline-block;
    background-color: var(--red);
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 1rem;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: var(--red);
    margin-bottom: 5rem;
}
.btn:hover {
    transform: translateY(-3px);
}
.btn:active {
    outline: none;
    transform: translateY(-5px);
}
.partners {
    text-align: center;
    background-color: var(--black);
    border-top: 2px solid #282828;
    border-bottom: 2px solid #2c2e2e;
    box-shadow: 0px 0px 8px #000;
}
.partner-wrapper {
    display: flex;
    justify-content: space-around;
    height: fit-content;
}
.partners .partner-wrapper .logo {
    width: 30%;
}
.partners .partner-wrapper .logo img {
    width: 100%;
    height: 90%;
}
