<app-header></app-header>
<section class="home">
    <div class="center">
        <h1 class="top">Find Your Dream Vehicle today</h1>
        <div class="seperator"></div>
        <button class="btn" routerLink="/vehicles">Explore Vehicles</button>
    </div>
</section>
<section class="partners">
    <h1 class="title">Our Official Partners</h1>
    <div class="partner-wrapper">
        <div class="logo">
            <img src="assets/images/partners/ferrari.png" />
        </div>
        <div class="logo">
            <img src="assets/images/partners/porsche.png" />
        </div>
        <div class="logo">
            <img src="assets/images/partners/mclaren.png" />
        </div>
    </div>
</section>
<app-footer></app-footer>
