<div class="close">
    <button mat-icon-button aria-label="close dialog" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<div class="payment-title">
    <h1>Payment Information</h1>
</div>
<div class="form-container">
    <form [formGroup]="formGroup">
        <div class="field-container">
            <label for="name">Name</label>
            <input
                id="name"
                maxlength="20"
                type="text"
                formControlName="name"
            />
        </div>
        <div class="field-container">
            <label for="cardnumber">Card Number</label>
            <input
                id="cardnumber"
                type="number"
                pattern="[0-9]*"
                inputmode="numeric"
                formControlName="number"
            />
        </div>
        <div class="field-container">
            <label for="expirationdate">Expiration (mm/yy)</label>
            <input
                id="expirationdate"
                type="text"
                formControlName="expiration"
            />
        </div>
        <div class="field-container">
            <label for="securitycode">Security Code</label>
            <input
                id="securitycode"
                type="number"
                pattern="[0-9]*"
                inputmode="numeric"
                formControlName="code"
            />
        </div>
    </form>
</div>
<div class="btn-row">
    <button class="btn-buy" (click)="submit()">
        <a>Confirm</a>
    </button>
</div>
