<app-header></app-header>
<section class="login">
    <div class="center">
        <div class="login-page">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <h2>Login</h2>
                <input
                    type="email"
                    formControlName="email"
                    placeholder="Email"
                    autocapitalize="off"
                />

                <input
                    type="password"
                    formControlName="password"
                    placeholder="Password"
                />

                <div>
                    <button class="btn-first" type="submit">Submit</button>
                    <button class="btn-second" routerLink="/register">
                        Register
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
<app-footer></app-footer>
